<div class="body">

    <div class="fpass">
        <h1 class="title">
            Forgot Password
        </h1>
        <form action="">
            <input type="email" placeholder="Write Your Registered Email-id" name="email" (input)="takeEmail($event)">
            <button (click)="submitted($event)">Send otp</button><br>
        </form>
        <form action="">
            
            <input type="text" placeholder="Write the confirmation code" name="code" (input)="takeCode($event)">
            <button (click)="verifyCode($event)">Verify Otp</button>
        </form>
        <form action="">
            
            <input class="afterCode" [ngStyle]="{'display':display? 'block' : 'none'}" type="password" placeholder="New Password" name="password" (input)="takePass($event)">
            <input class="afterCode" [ngStyle]="{'display':display? 'block' : 'none'}" type="password" placeholder="Confirm Password" name="cnpassword" (input)="takePass($event)">
            <button (click)="resetpass($event)" [ngStyle]="{'display':display? 'block' : 'none'}" >Reset Password</button>
        </form>
        
    </div>
    
    <lib-toastify-toast-container 
    [position]="'bottom-right'" 
    [transition]="'zoom' "
    [autoClose]="3000" 
    [hideProgressBar]="false" 
    [newestOnTop]="false"  
    [closeOnClick]="true" 
    [pauseOnHover]="true" 
    [pauseOnVisibilityChange]="true"   
    
    ></lib-toastify-toast-container>
</div>
    <div class="drift">
        
        <div class="fun"></div>
    </div>
    
